
#card_root {
  max-width: 345px;
  min-width: 345px;
  max-height: 570px;
  /* margin: 30px;
  margin-top: 40px; */
  overflow-y: auto;
  margin-top: 20px;
}
#card_root::-webkit-scrollbar {
  display: none;
}
.media {
  height: 400px;
  padding-top: 56.25%;
};

