  
.chatpanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid lightblue;
}
a {
    text-decoration: none;
    color: inherit;
}
.chatpanel_detail {
    flex:1;
}
.chatpanel_detail p {
    color: gray;
}

.chatpanel_image {
    margin-right: 10px;
}
.chapanel_timestamp {
    color: lightgray;
}

.chatpanel_title {
    font-size: 50px;
    text-align: center;
    color:palevioletred;
}