



.home {
    text-align: center;
}

#home_logo{
    font-size: 75px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.home_title {
    font-size: 60px;
    font-family: 'Sonsie One';
    display: flex;
}

.home_intro {
    font-size: 90px;
    color: aqua;
    font-family: 'Roboto', sans-serif;
    margin: 50px;
}

.home_button1 {
    bottom: 5vh;
    color: white;
    height: 90px;
    min-width:300px;
    font-size: 45px;
    border-radius: 40px;
    background: linear-gradient(-135deg, #108c8c, #13ffec);
    border: none;
    transition: all 0.3s ease-in;
    position: relative;
    margin: 20px;
}

.home_button1:focus {
    outline: none;
}

.home_button1:hover {
    background: linear-gradient(-135deg, #83cfda, #4fe6d9);
}

.home_button1:active span::after {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 90px;
    border-radius: 40px;
    margin-top: -10px;
    margin-left: -27px;
    content: "";
    background: linear-gradient(-135deg, #9acdf7, #6aeeff);
    border-radius: 100%;
    opacity: 0;
    animation: ripple 0.3s 1 ease-out;
}


.home_button2 {
    bottom: 5vh;
    color: white;
    height: 90px;
    min-width:300px;
    font-size: 45px;
    border-radius: 40px;
    background: linear-gradient(-135deg, #f89dc8, #ff13e0);
    border: none;
    transition: all 0.3s ease-in;
    position: relative;
    margin: 20px;
}

.home_button2:focus {
    outline: none;
}

.home_button2:hover {
    background: linear-gradient(-135deg, #da83da, #fa52de);
}

.home_button2:active span::after {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 90px;
    border-radius: 40px;
    margin-top: -10px;
    margin-left: -27px;
    content: "";
    background: linear-gradient(-135deg, #f7a1eb, #df6afc);
    border-radius: 100%;
    opacity: 0;
    animation: ripple 0.3s 1 ease-out;
}
